<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the public directory if document root is the project root.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
